*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:Arial,sans-serif;
    transition:0.4s;

    background:linear-gradient(
        135deg,
        #0f172a,
        #1e293b,
        #2563eb
    );

    color:white;
}

body.light{
    background:linear-gradient(
        135deg,
        #f8fafc,
        #dbeafe,
        #93c5fd
    );

    color:#111;
}

.container{
    text-align:center;
}

.top-controls{
    position:absolute;
    top:20px;
    right:20px;
    display:flex;
    gap:10px;
}

h1{
    margin-bottom:30px;
    letter-spacing:5px;
}

#time{
    font-size:8rem;
    font-weight:bold;
    margin-bottom:25px;
}

.labels{
    display:flex;
    justify-content:center;
    gap:120px;
    margin-bottom:40px;
}

.controls{
    display:flex;
    justify-content:center;
    gap:20px;
}

button{
    padding:15px 25px;
    border:none;
    border-radius:12px;
    cursor:pointer;
    font-size:1rem;

    background:rgba(255,255,255,.2);
    color:inherit;

    backdrop-filter:blur(10px);
    transition:.3s;
}

button:hover{
    transform:translateY(-3px);
}